
body{ 
width: 100%;
background-color: lightgray;}


h1{ 
font-family: monospace;
color: white; 
font-size: 50px; 
background-color: black;}

iframe {
    border: 1px solid black;
    padding: 5px;
    
}

.output {
    background: #eee;
}



