

@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');


.rectangle{
    width: 100%;
    height: 150px;
    background-color: pink;
    border: green solid 2px;
    text-align: center;
    font-family: monofett;
    color: green;
    font-size: 150px
}

.littlerecs {
    width:200px;
    height: 50px;
    padding: 5px;
    background-color: green;
    border: gold solid 5px;
    text-align: center;
    font-family: monofett;
    color: pink;
    font-size: 30px
    
}

.square0 {
    width:200px;
    height: 200px;
    background-color: green;
    border: limegreen solid 5px;
    padding: 5px;
    text-align: left;
    font-family: Smooch Sans;
    color: limegreen;
    font-size: 30px
    
}

.square {
    width:200px;
    height: 200px;
    background-color: green;
    border: gold solid 5px;
    padding: 5px;
    text-align: left;
    font-family: Smooch Sans;
    color: pink;
    font-size: 30px;
    
}

.squarebday {
    background: url(IMG_4503.JPG);
    background-size:cover;
    width:200px;
    height: 200px;
    background-image: IMG_4503.JPG;
    border: gold solid 5px;
    padding: 5px;
    text-align: left;
    font-family: Smooch Sans;
    color: black;
    font-size: 30px;
    
}


.container1{
   display: flex;
}

.container2{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 900;  
}