

.kitchen {
	width: 900px;
	height: 900px;
	margin: 100px auto;
	position: relative;
}


#apple{
    width: 7%;
    position: absolute;
     left: 34%;
    bottom: 15%;
    
}

#apple2{
    width: 7%;
    position: absolute;
    left: 28%;
    bottom: 15%;
}

#apple3{
    width: 7%;
    position: absolute;
    left: 30%;
    bottom: 20%;
}

#apple4{
    width: 7%;
    position: absolute;
    left: 40%;
    bottom: 17%;
}

#apple5{
    width: 7%;
    position: absolute;
    left: 38%;
    bottom: 16%;
}

#basket{
    width: 35%;
    position: absolute;
    left: 20%;
    bottom: 5%;
}

#h4{
    position: absolute;
    left: 0%;
    bottom: 10%;
    color: red;
}

#h5{
    position: absolute;
    left: 40%;
    bottom: 0%;
    text-decoration-color: orange;
}