:root{
    --second: 1s; 
    --minute: calc(var(--second)*60);
    --hour: calc(var(--minute)*60);
    --half: calc(var(--hour)*12); 
    --day: calc(var(--half)*2);
    --setTimeHour: 4; 
    --setTimeMinite: 42; 
    --timeShifter: calc(var(--setTimeHour)*var(--hour));
    --timeShiftMinute: calc(var(--setTimeMinute)*var(--minute));
}

.background{ 
width: 100%;
display: flex;
justify-content: center;
}




h1{
    font-family: monospace; 
    color: red;
}

p{
    font-family: sans-serif;
}

h2{
    font-family: monospace; 
}

p{
    font-family: sans-serif;
}



@keyframes rotate{ 
    from {transform: rotate(0);}
    to {transform: rotate(1turn);}
}

.clockface{ 
    width: 300px; 
    height: 300px; 
    border-radius: 100%; 
    position: relative; 
    background-color: lightgoldenrodyellow;
    transform: rotate(180deg);
}

.seconds{
    width: 5px; 
    height: 150px; 
    background-color: hotpink; 
    animation: rotate steps(60) var(--minute) infinite; 
}

.hand{
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform-origin: center 0;
    
}

.minutes{ 
width: 10px; 
height: 150px;
 background-color: navy; 
    animation: rotate steps(60) var(--hour) infinite; 
    animation-delay: calc(var(timeShiftMinute)*-1)
}

.hours{ 
width: 15px; 
height: 150px;
background-color: red; 
animation: rotate steps(12) var(--half) infinite; 
animation-delay: calc(var(timeShiftHour)*-1)
}



.clockfacenate{ 
    width: 300px; 
    height: 300px; 
    border-radius: 100%; 
    position: relative; 
    background-color: skyblue;
    transform: rotate(180deg);
}

.secondsnate{
    width: 5px; 
    height: 150px; 
    background-color: lightgoldenrodyellow; 
    animation: rotate steps(60) calc(var(--minute)*3) infinite; 
}


.minutesnate{ 
width: 10px; 
height: 150px;
 background-color: white; 
    animation: rotate steps(60) calc(var(--hour)*3) infinite; 
    animation-delay: calc(var(timeShiftMinute)*-1)
}

.hoursnate{ 
width: 15px; 
height: 150px;
background-color: red; 
animation: rotate steps(12) calc(var(--half)*3) infinite; 
animation-delay: calc(var(timeShiftHour)*-1)
}









.clockfaceolivia{ 
    width: 300px; 
    height: 300px; 
    border-radius: 100%; 
    position: relative; 
    background-color: green;
    transform: rotate(180deg);
}

.secondsolivia{
    width: 5px; 
    height: 150px; 
    background-color: white; 
    animation: rotate steps(60) calc(var(--minute)*.25) infinite; 
}


.minutesolivia{ 
width: 10px; 
height: 150px;
 background-color: lime; 
    animation: rotate steps(60) calc(var(--hour)*.25) infinite; 
    animation-delay: calc(var(timeShiftMinute)*-1)
}

.hoursolivia{ 
width: 15px; 
height: 150px;
background-color: yellow; 
animation: rotate steps(12) calc(var(--half)*.25) infinite; 
animation-delay: calc(var(timeShiftHour)*-1)
}